h3 Lista de Alas
button#addAla Agregar Ala

table#tabla
  thead
    tr
      th ID
      th Nombre
      th Piso
      th Descripción
      th Unidad
  tbody
    - for (let i = 0; i < items.length; i++)
        - const a = items[i]
        tr
            td= a.id
            td= a.nombre
            td= a.piso
            td= a.descripcion || '—'
            td= a.unidadId